<html>

<head>
    <title>IMDB Sentiment Prediction</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <style>
        body {
            text-align: center;
        }
        form {
            display: inline-block;
        }
    </style>
    {% extends "home.html" %}
    {% block content %}
    
    <div class="jumbotron">
        <p>Oops! We encountered an error.</p>
        <p class="small">{{ msg }}</p>
    </div>
    
    {% endblock %}
</body>